.item
  list-style none
  width 100%
  display flex
  justify-content space-between
  gap 1rem

  section
    display flex
    flex-direction column

    .title
      margin 0
      span
        padding 0 .5em 0 0

    .description
      margin 0
      opacity .5


  .isComplete
    text-decoration-line line-through
    opacity .5

  button
    border 1px solid #0000
    background #0000
    height 1rem

    .trashcan
      width 2rem 
      height 1rem